<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}	
    <link rel="stylesheet" href="{% static 'log_app/css/core_styles.css' %}">
    <link rel="stylesheet" href="{% static 'log_app/css/style.css' %}">
</head>
<body>
    {% if messages %}
        <ul class="messages green">
            {% for message in messages %}
                <li {% if message.tags %} 
                        class="{{ message.tags }}"
                    {% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="wrapper">
        <div class="header">
            <div class="nav1">
                <h1>Hello {{ request.session.name }}</h1>
            </div>
            <div class="nav4">
                <a href="/trips/new">Create</a>|
                <a href="/logout">Logout</a></p>
            </div>
        </div>

        <div class="main">
            <h2>My Trips</h2>

            <table class="full">
                <tr>
                    <th>Destination</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Plan</th>
                    <th>Actions</th>
                </tr>
                {% for trip in my_trips %}
                    <tr>
                        <td><a href="/read/{{ trip.id }}">{{ trip.destination }}</a></td>
                        <td>{{ trip.start }}</td>
                        <td>{{ trip.end }}</td>
                        <td>{{ trip.plan }}</td>
                        <td>
                            <a href="/trips/edit/{{ trip.id }}">Edit</a>|
                            <a href="/delete/{{ request.session.id }}/{{ trip.id }}">Cancel</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <h2>Trip's I've joined</h2> 
            <table class="full">
                <tr>
                    <th>Destination</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Plan</th>
                </tr>
                {% for trip in joined_trips %}
                    <tr>
                        <td><a href="/read/{{ trip.id }}">{{ trip.destination }}</a></td>
                        <td>{{ trip.start }}</td>
                        <td>{{ trip.end }}</td>
                        <td>{{ trip.plan }}</td>
                    </tr>
                {% endfor %}
            </table>

            <h2>Other People's Trips</h2> 
            <table class="full">
                <tr>
                    <th>Destination</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Plan</th>
                    <th>Actions</th>
                </tr>
                {% for trip in other_trips %}
                    <tr>
                        <td><a href="/read/{{ trip.id }}">{{ trip.destination }}</a></td>
                        <td>{{ trip.start }}</td>
                        <td>{{ trip.end }}</td>
                        <td>{{ trip.plan }}</td>
                        <td>
                            <a href="/join/{{ trip.id }}">Join</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
</body>
</html>