<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'log_app/css/core_styles.css' %}">
    <link rel="stylesheet" href="{% static 'log_app/css/style.css' %}">

</head>
<body>
{% if messages %}
    <ul class="messages green">
        {% for message in messages %}
            <li {% if message.tags %} 
                    class="{{ message.tags }}"
                {% endif %}>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="wrapper">
        <div class="header">
            <div class="nav1">
                <h2>Success! Welcome, {{ request.session.name }}!</h2>
            </div>
            <div class="nav4">
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
    
</body>
</html>